*{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.nice-place{
    padding: 50px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    max-width: 1024px;
    margin: auto;
}

.nice-place-item {
    width: 30%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.nice-place-item:hover .nice-place-text{
    transform: translate(0%);
}
.nice-place-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.nice-place-text { /* Keo chu xuong from, khung mau */
    position: absolute;
    width: 100%;
    height: 200px;
    bottom:0;
    padding: 12px;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(255,255,255,0));
    transform: translate(-100%);
    transition: all 0.5s ease;
}
.nice-place-text h2{  /* Đổi màu chữ Kỳ co  */
    color: #0099FF;
}
.nice-place-text i { /* Đổi màu ngoi sao  */
    color: yellow;
}
.nice-place-text p { /* Đổi màu chu  */
    color: aliceblue;
    margin: 12px 0;
}
.nice-place-text button {
    height: 30px;
    width: 100px;
    background-color: #0099FF;
    border: none;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.nice-place-text button:hover {
    background-color:#0000FF;
}
.nice-place h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #0000FF ;
    position: relative;
}
.nice-place h1::before { /* Thanh ngang */
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    background-color: #0000FF;
    border-radius: 5px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}
.nice-place h1::after{ /* Trai tym yeu thuong */
    position: absolute;
    content: "\2665";
    width: 40px;
    height: 20px;
    color: red;
    background-color: #fff;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%);
}
.video-container {
            display: flex;
            justify-content: center;
        }
        .video-container video {
            width: 90%; /* Để video chiếm toàn bộ chiều rộng của container */
            height: 50%; /* Chiều cao tự động tính toán để giữ nguyên tỷ lệ khung hình */
        }
        /*------------------------------------*/
        
/*---lien he---------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

  .footer-distributed{
    background: #286995;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  rgb(243, 247, 247);
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #fbf9f9;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  rgb(240, 252, 251);
    text-decoration: none;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  .footer-distributed .footer-icons1 a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
    color:azure;
  }
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }